.pie-chart-wrapper ::ng-deep .apexcharts-tooltip,
.pie-chart-wrapper ::ng-deep .apexcharts-tooltip.apexcharts-theme-light {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
